footer {
  width: 1155px;
  margin-left: 200px;
  padding-top: 38px; 
}

footer a {
  text-decoration: none;	
  border-bottom: 1px solid transparent;
}

footer a:hover {
  font-family: 'titillium_webbold', 'Tahoma', sans-serif;;
  border-bottom: 1px solid #858688;
}

.mail-addresses {
  position: relative;
  float: left;
  width: 250px;
  padding-left: 20px;
  line-height: 1.4;
  font-size: 14px;
}

.color-text-dark{
  font-weight: bold;
  color: rgba(16, 16, 16, 255);
}

.mail-addresses::before{
    content: '';
    width: 1px;
    height: 132px;
    position: absolute;
    top: 6px;
    left: 0;
    background: #858688;
}

.footer-lists {
  position: relative;
  float: right;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 520px;
  height: 155px;
  box-sizing: border-box;
}

.footer-lists::before {
  content: '';
  width: 1px;
  height: 316px;
  position: absolute;
  top: 0;
  left: 113px;
  background: #858688;
}

.footer-lists ul {
    direction: rtl;
 }

.footer-lists p {
  font-family: 'titillium_webbold','Tahoma', sans-serif;
  font-size: 18px;
  color: rgba(16, 16, 16, 255);
  text-align: right;
  padding: 0 0  20px 0;
}

.footer-legal_list {
  width: 140px;
}

.footer-neutronMail_list {
  width: 110px;
}

.footer-social-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 362px;
    height: 111px;
    padding: 83px 0 12px 0 ;
    font-size: 12px;
    box-sizing: border-box;
    clear: both;
}

.footer-social-links li+li:before {
  content: "/";
  padding-right: 10px; 
}


.mail-addresses li,
.footer-social-links li{
    list-style-type: none;
}

.cooperate {
  font-size: 12px;
}